a, body, div, form, html, img, input, label, p, span{margin:0; padding:0; border:0; font-family:'Droid Arabic Kufi',Arial}

@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(html/DroidKufi-Bold.eot);
  src: url(html/DroidKufi-Bold-iefix.eot) format('embedded-opentype'),
       url(html/DroidKufi-Bold.woff2) format('woff2'),
       url(html/DroidKufi-Bold.woff) format('woff'),
       url(html/DroidKufi-Bold.ttf) format('truetype');
}
body{background:#a2a09b; background:-webkit-linear-gradient(315deg,hsla(236.6,0%,53.52%,1) 0,hsla(236.6,0%,53.52%,0) 70%),-webkit-linear-gradient(65deg,hsla(220.75,34.93%,26.52%,1) 10%,hsla(220.75,34.93%,26.52%,0) 80%),-webkit-linear-gradient(135deg,hsla(46.42,36.62%,83.92%,1) 15%,hsla(46.42,36.62%,83.92%,0) 80%),-webkit-linear-gradient(205deg,hsla(191.32,50.68%,56.45%,1) 100%,hsla(191.32,50.68%,56.45%,0) 70%); background:linear-gradient(135deg,hsla(236.6,0%,53.52%,1) 0,hsla(236.6,0%,53.52%,0) 70%),linear-gradient(25deg,hsla(220.75,34.93%,26.52%,1) 10%,hsla(220.75,34.93%,26.52%,0) 80%),linear-gradient(315deg,hsla(46.42,36.62%,83.92%,1) 15%,hsla(46.42,36.62%,83.92%,0) 80%),linear-gradient(245deg,hsla(191.32,50.68%,56.45%,1) 100%,hsla(191.32,50.68%,56.45%,0) 70%)}
a{color:#486173}
input, label{vertical-align:middle; white-space:normal; background:0 0; line-height:1}
label{position:relative; display:block}
p::first-letter{text-transform:uppercase}
.main{min-height:calc(100vh - 90px); width:100%; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column}
.ie-fixMinHeight{display:-webkit-box; display:-ms-flexbox; display:flex}
.ico{height:16px; position:absolute; top:0; left:0; margin-top:13px; margin-left:14px}
.logo{max-width:200px; display:block; margin:0 auto 30px auto}
.logo *{fill:#fff}
.lite .logo *{fill:#444}
h1{text-align:center; color:#fff; font-size:24px!important}
*{-webkit-box-sizing:border-box; box-sizing:border-box; font-size:16px}
.wrap{margin:auto; padding:40px; -webkit-transition:width .3s ease-in-out; transition:width .3s ease-in-out}
@media only screen and (min-width:1px) and (max-width:575px){.wrap{width:100%}
}
form{width:100%; margin-bottom:20px}
@-webkit-keyframes fadeIn{from{opacity:0}
to{opacity:1}
}
@keyframes fadeIn{from{opacity:0}
to{opacity:1}
}
.fadeIn{-webkit-animation-name:fadeIn; animation-name:fadeIn}
.animated{-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both}
.info{color:#fff; text-align:center; margin-bottom:30px}
input{outline:0; -webkit-appearance:none; -moz-appearance:none; appearance:none}
input:focus{outline:0}
input[type=password], input[type=text], input[type=tel]{width:100%; border:1px solid background-color:rgba(255,255,255,.8); height:44px; padding:3px 20px 3px 40px; margin-bottom:20px; border-radius:6px; background-color:rgba(255,255,255,.8); -webkit-transition:-webkit-box-shadow .3s ease-in-out; transition:-webkit-box-shadow .3s ease-in-out; transition:box-shadow .3s ease-in-out; transition:box-shadow .3s ease-in-out,-webkit-box-shadow .3s ease-in-out}
input[type=password]:focus, input[type=text]:focus, input[type=tel]:focus{-webkit-box-shadow:0 0 5px 0 rgba(255,255,255,1); box-shadow:0 0 5px 0 rgba(255,255,255,1)}
.bt{}
input[type=submit]{background:#3e4d59; color:#fff; border:0; cursor:pointer; text-align:center; width:100%; height:44px; border-radius:6px; -webkit-transition:background .3s ease-in-out; transition:background .3s ease-in-out}
input[type=submit]:focus, input[type=submit]:hover{background:#33404a}
table{border-collapse:collapse; width:100%; margin-bottom:20px}
table td{color:#fff; border-bottom:1px solid #e6e6e6; padding:10px 4px 10px 0}
table td:first-child{font-weight:700}
.lite{
	
	
background-color: #88be34;
/*background-color: #6f716e;*/
background: -webkit-radial-gradient(#d2ea9d, #88be34) no-repeat; /* Safari 5.1 to 6.0 */
background: -o-radial-gradient(#d2ea9d, #88be34) no-repeat; /* For Opera 11.6 to 12.0 */
background: -moz-radial-gradient(#d2ea9d, #88be34) no-repeat; /* For Firefox 3.6 to 15 */
background: radial-gradient(#d2ea9d, #88be34) no-repeat; /* Standard syntax (must be last) */

	
	}
.lite input[type=password], .lite input[type=text], .lite input[type=tel]{border:1px solid #c3c3c3}
.lite .info, .lite h1, .lite table td{color:#444}
.lite input[type=password]:focus, .lite input[type=text]:focus, .lite input[type=tel]:focus{-webkit-box-shadow:0 0 5px 0 rgba(62,77,89,.2); box-shadow:0 0 5px 0 rgba(62,77,89,.2)}
.dark{
background: #1A2F48;
	}
.dark input[type=submit]{background:#dc3a41}
.dark input[type=submit]:focus, .dark input[type=submit]:hover{background:#b92f35}
.dark input[type=password], .dark input[type=text], .dark input[type=tel]{background-color:#fff}
.dark a{color:#dc3a41}
.dark table td{border-bottom:1px solid #505050}
.info.alert{color:#da3d41}
@media (min-width:576px){.wrap{width:410px}
*{font-size:14px!important}
}



.auto-style18 {
	//border-style: solid;
	color:#eab90f;
	border-width: 1px;
	text-align: center;
	//background-color: #F5E941;
	
}
.auto-style19 {
	color: black;
	//background-color: #EECF80;
}
.auto-style20 {
	color:#fff;
	//border-style: solid;
	border-width: 1px;
	text-align: center;
	background-color:#FFF (opacity=60);
	opacity:0.9;
}
.auto-style21 {
	//border-style: solid;
	color:#fff;
	border-width: 1px;
	text-align: center;
	//color: black;
	//background-color: #ffffff;
}


.alert{padding:15px; margin-bottom:20px; border:1px solid transparent; border-radius:4px}
.alert h4{margin-top:0; color:inherit}
.alert .alert-link{font-weight:700}
.alert>p, .alert>ul{margin-bottom:0}
.alert>p+p{margin-top:5px}
.alert-dismissable, .alert-dismissible{padding-right:35px}
.alert-dismissable .close, .alert-dismissible 
 
.close{position:relative; top:-2px; right:-21px; color:inherit}
.alert-success{color:#3c763d; background-color:#dff0d8; border-color:#d6e9c6}
.alert-success hr{border-top-color:#c9e2b3}
.alert-success .alert-link{color:#2b542c}
.alert-info{color:#31708f; background-color:#d9edf7; border-color:#bce8f1}
.alert-info hr{border-top-color:#a6e1ec}
.alert-info .alert-link{color:#245269}
.alert-warning{color:#8a6d3b; background-color:#fcf8e3; border-color:#faebcc}
.alert-warning hr{border-top-color:#f7e1b5}
.alert-warning .alert-link{color:#66512c}

.alert-danger{color:#a94442; background-color:#f2dede; border-color:#ebccd1}
.alert-danger hr{border-top-color:#e4b9c0}
.alert-danger .alert-link{color:#843534}


.has-error{	color: #000;background-color:#e6e1dd;border-color:#000; }
.has-error hr{border-top-color: #000}

.help-block{
	
}

.alert-danger{color:#a94442; background-color:#f2dede; border-color:#ebccd1}
.alert-danger hr{border-top-color:#e4b9c0}
.alert-danger .alert-link{color:#843534}

@-webkit-keyframes progress-bar-stripes{from{background-position:40px 0}
to{background-position:0 0}
}
@-o-keyframes progress-bar-stripes{from{background-position:40px 0}
to{background-position:0 0}
}
@keyframes progress-bar-stripes{from{background-position:40px 0}
to{background-position:0 0}
}



.container {
    display: block;
    position: relative;
    padding-right: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 25px;
}
/* Hide the default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* custom radio button */
.check {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    background-color: lightgray;
    border-radius: 50%;
}
.container:hover input ~ .check {
    background-color: gray;
}
.container input:checked ~ .check {
    background-color: blue;
}
.check:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .check:after {
    display: block;
}
.container .check:after {
    top: 8px;
    left: 8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
}
.btn-countdown {
	background:#a8a8a8 !important;
}
.wrapper {
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 36px rgba(0,0,0,0.2);
}
.wrapper .title{
      color: #fff;
    line-height: 45px;
    text-align: center;
    background: #3d6ca3;
    font-size: 25px;
    font-weight: 500;
    border-radius: 4px 4px 0 0;
}
.wrapper .box{
  padding: 20px 30px;
  background: #fff;
  border-radius: 10px;
}
.wrapper .box label{
      display: flex;
    height: 45px;
    width: 100%;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 5px 0;
    padding-left: 11px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#value-1:checked ~ .value-1,
#value-2:checked ~ .value-2,
#value-3:checked ~ .value-3,
#value-4:checked ~ .value-4{
  background: #3d6ca3;
  border-color:#3d6ca3;
}
.wrapper .box label .select-dots{
  height: 20px;
  width: 20px;
  margin:20px ;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}
#value-1:checked ~ .value-1 .select-dots,
#value-2:checked ~ .value-2 .select-dots,
#value-3:checked ~ .value-3 .select-dots,
#value-4:checked ~ .value-4 .select-dots{
  background: #fff;
}
.box label .select-dots::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#value-1:checked ~ .value-1 .select-dots::before,
#value-2:checked ~ .value-2 .select-dots::before,
#value-3:checked ~ .value-3 .select-dots::before,
#value-4:checked ~ .value-4 .select-dots::before{
  background: #3d6ca3;
  transform: translate(-50%, -50%) scale(1);
}
.wrapper .box label .text{
  color: #333;
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}
#value-1:checked ~ .value-1 .text,
#value-2:checked ~ .value-2 .text,
#value-3:checked ~ .value-3 .text,
#value-4:checked ~ .value-4 .text{
  color: #fff;
}
.wrapper .box input[type="radio"]{
  display: none;
}
.active{
	background: #3d6ca3;
	margin-top: 20px;
    color: #fff;
    border: 0;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 44px;
    border-radius: 6px;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.disabled {
    background: #b2a7a7;
	margin-top: 20px;
    color: #483a3a;
    border: 0;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 44px;
    border-radius: 6px;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}